body{
    
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: 40px;
    
  }
  
  td, th {
    border: solid;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  #header{
    background-color: teal;
    text-align: center;
      
  }

  #footer{
    text-align: right;
      
  }

  .flex-container {
    margin-left: 150px;
    background-color: teal;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 500px;
    
  }

  #buttRight{
   margin-left: 84%;
   margin-top: 5px;
   margin-bottom: 5px;
    width: 90px;
    height: 30px;
  }

  h1 {
    margin: 0px;
    text-align: center;
  }
  h2 {
    margin-bottom: 0px;
    
  }

  .deleteEmployee{
    margin-left: 4px;
    margin-right: 0px;
    width: 90px;
    height: 20px;
  }